body {
    font-family:'Roboto', sans-serif;
    background-color: #EEF9BF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #75B79E;
    font-weight: bold;
    margin: 40px 0;
}

.gameBoard{
    width: 700px;/*  test  */
    height: 700px;/*  test  */
    background-color: rgb(240, 240, 240, 0.4);
}

@media (max-width: 614px){

    h1{
        font-size: 36px;
    }
}